* {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  // background-color: #fff !important;
  height: 150vh;
  font-family: Andada;
  background-color: #646566;

}
button {
  cursor: pointer;
}
