@font-face {
  font-family: Andada;
  src: url('../../assets/fonts/AndadaPro-Regular.ttf');
}
@font-face {
  font-family: ArchitectsDaughter;
  src: url('../../assets/fonts//ArchitectsDaughter-Regular.ttf');
}

@font-face {
  font-family: EncodeSans;
  src: url('../../assets/fonts/EncodeSans-VariableFont_wdth\,wght.ttf');
}

